# --- LaTeX 编译产生的中间文件 (屏蔽) ---
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lof
*.lot
*.synctex.gz

# --- 编译工具生成的临时文件 (屏蔽) ---
# VS Code LaTeX Workshop 常用的 latexmk 工具产生的文件
*.fls
*.fdb_latexmk
*.dvi
*.ps

# --- 编辑器配置 (屏蔽) ---
.vscode/
.idea/
*.DS_Store

